<div #about id="about" class="min-h-screen w-screen">
  <div class="relative mb-8 mt-36 flex flex-col items-center gap-5">
    <h2 class="font-general text-sm uppercase md:text-[10px]">
      Welcome to zentry
    </h2>
    <app-animated-title
      containerClass="mt-5 text-center text-4xl uppercase leading-[0.8] md:text-[6rem]"
      title="Disc<b>o</b>ver the world's <br/> l<b>a</b>rgest shared adventure"
    />
    <div class="about-subtext">
      <p>The game of Games begins-your life, now an epic MMORPG</p>
      <p>Zentry unites every player from countless games and plataforms</p>
    </div>
  </div>
  <div #clip class="h-dvh w-screen">
    <div #maskClip class="mask-clip-path about-image">
      <img
        src="img/about.webp"
        alt="Background"
        class="absolute left-0 top-0 size-full object-cover"
      />
    </div>
  </div>
</div>
